{% load static %}

<html lang="en">
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static  %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <title>Home page</title>
  </head>

  <style>
      .body {
      position: relative;
  }
  .inner{
      padding: 1rem;
      color: black;
      text-center;
      px-5;
  }
  .title{
      color: black;
      text-align: left
  }

  #carousel{
      width: 50px;
      height: 50px;
   }

  #title{
      color:white;
      text-align: center;
  }

  </style>

<body>
<div class="container-fluid">
<nav id="simple_navbar" class="navbar fixed-top navbar-light bg-primary px-3">
  <a class="navbar-brand" href="#">  <div id="carousel" class="carousel slide" data-bs-ride="carousel" >
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src= "{% static 'AImage2.png'%}" class="d-block w-100" alt="not found" width="50px" height="50px">
    </div>
    <div class="carousel-item">
      <img src="{% static 'AImage2.png' %}" class="d-block w-100" alt="not found" width="50px" height="50px">
    </div>
  </div>
</div>
  </a>
  <h1 id="title" class="nav"> AImageLab QR GENERATOR</h1>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'authentication:login' %}">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'authentication:register' %}">Register</a>
    </li>
    <li class="nav-item">
       <a class="nav-link text-white" href="https://github.com/riccardovecchi0101/QrGenerator"><i class="bi bi-github"></i></a>
    </li>
  </ul>
</nav>
</div>

<div data-bs-spy="scroll" data-bs-target="simple_navbar" data-bs-offset="0" class="container mb-5 mt-3" tabindex="0" style="padding-top:90px">
  <div class="container inner mb-3 mx-auto px-3">
    <h3 class = "title border border-3 border-secondary"> DESCRIZIONE DEL PROGETTO</h3>
    <h5>Questo progetto è nato con l'intento di creare una piattaforma dove si potessero gestire in maniera comoda diversi progetti e creare, come suggerisce il nome, Qr di diverso stile relativi a questi ultimi.
"Qr GENERATOR" permette dunque una gesitone versatile di tutti i progetti che si vogliono creare, con la possibilità di modifica di alcuni parametri e di gestione dei Qr in maniera molto versatile</h5>
    <div class="container-fluid mt-5 border border-3 border-primary">
    <ul>
      <li>
        <h3 class = "title"> Crea i tuoi progetti in maniera versatile</h3>
        <div class="container-fluid mt-3 mb-3">
          <p>Qr generator ti permette di creare uno spazio per i tuoi progetti dove potergli associare dei qr code, puoi modificarli in qualsiasi momento.</p>
        </div>
      </li>
      <li>
        <h3 class="title"> Inventa Qr a tua discrezione</h3>
        <div class="container-fluid mt-3 mb-3">
          <p>Crea qr di qualsiasi colore! puoi aderittura peronalizzarli con immagini e scritte.</p>
        </div>
      </li>
      <li>
        <h3 class="title"> E se il link del sito del progetto cambia?</h3>
        <div class="container-fluid mt-3 mb-3">
          <p> Non preoccuparti, tutti i qr che hai già creato e stampato continueranno a funzionare grazie ad un sistema di ridirezione</p>
        </div>
      </li>
      <li> <h3> Il progetto ti interessa?</h3> <a href="https://github.com/riccardovecchi0101/QrGenerator">clicca qui</a></li>
    </ul>
  </div>
</div>

<div class="navbar navbar-expand-lg navbar-light fixed-bottom"  style="background-color: #ECECEC;">
  <div class="container px-3">
    <div class="font-italic" style="horiz-align: left;">Powered by <a target="_blank" href="http://imagelab.ing.unimore.it">
            <img src="{% static 'aimagelab.png' %}" height="25" alt="AImageLab"></a>
    </div>
    <div class="font-italic" style="float: right !important;">Designed by <a href="http://federicobolelli.it" target="_blank">F. Bolelli</a> and   <a href="https://github.com/riccardovecchi0101" target="_blank"> R. Vecchi </a>, managed by <a href="http://federicobolelli.it" target="_blank">F. Bolelli</a>
            <a target="_blank" href="https://github.com/riccardovecchi0101/QrGenerator"><i class="bi bi-github" aria-hidden="true"></i></a>
    </div>
  </div>
</div>



</div>

</body>

</html>

